<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/css/cortes.css"> -->
    <title>Cortes</title>
</head>

<body>
    <section class="section1">
        <img src="https://res.cloudinary.com/dwvono9at/image/upload/v1669231326/header_it_comunica_k6pk7k.png">
    </section>

    <section class="section2">
        <div class="container" style="display: flex;">
            <div class="texto">
                <h3>It comunica en:</h3>
                <h1>{{title}}</h1>
            </div>
            <div class="img-container" style="background-size: cover;
            height: 100px;
            width: 100px;
            align-items: flex-end;
            background-image: url('https://res.cloudinary.com/dwvono9at/image/upload/v1669231326/red_gi9hgt.png');">
            </div>
        </div>
    </section><br><br><br>


    <div class="content">
        {{description}}
    </div>

    <div class="footer">
        <h3>IT Corporativo</h3>
        <h3>Soluciones - Oracle eBS</h3>
    </div>


    <section class="background">
    </section>


</body>

</html>